@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Akaya+Telivigala&family=Acme:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h4{
    color: #134165;
    font-family: "Bebas Neue", Tahoma, sans-serif;
    font-size: 26px;
    margin: 0;
}
h2
{
    margin: 0;
}
p{
    font-family: "Acme", Verdana, sans-serif;

}

.button-box{
    text-align: center;
    height: 60px;
    align-content: center;
    
}
.book, .join{
    background-color: #F5DC71;
    color: #134165;
    text-decoration: none;
    font-family: "Akaya Telivigala", Arial, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 8px;
    transition: font-size .5s, border .4s;
}
.book:hover, .join:hover{
    
    background-color: #F5DC71;
    color: #78C5D7;
    border: 4px solid #78C5D7;
    font-size: 108%;

}





#content {
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #84714F;
    display: grid;
    grid-template-columns: 90px auto;
}

#logo_link{
    margin: 5px;
    justify-self: center;
    align-self: center;
    height: 80px;
}
.logo{
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
    

    
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Akaya Telivigala", Arial, sans-serif;
    padding:  14px 16px;
    border-radius: 5px;
    align-items: center;
    margin: auto 7%;
    box-sizing: border-box;
    transition: font-size .3s, margin .3s;
    
}
nav a:hover{
    background-color: #134165;
    color: #78C5D7;
    border: 4px solid #78C5D7;
    padding: 10px 12px;
    font-size: 106%;
    margin: auto 6.87%;
    
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-img{
    width: 100%;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 70px;
}

#hero-msg h1, #hero-msg h4{
    color: #F5DC71;
    text-align: center;
    font-family: "Bebas Neue", Tahoma, sans-serif;
    margin-top: 10px;
}

.home-title{
    color: #134165;
    font-family: "Bebas Neue", Tahoma, sans-serif;
    font-size: 2em;
    margin: 10px;
}
#hero .button-box{
    margin-top: 35px;
}


.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
.card{
    margin: 100px 0;
}

.card h2{
    font-family: "Bebas Neue", Tahoma, sans-serif;
    color: #134165;
}

.icon{
    width: 80px;
}
.card-img{
    border: 4px solid #84714F;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #84714F;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

#rivers{
    grid-column: 2/4;
    grid-row: 2/3;
}

#camping{
    grid-column: 5/7;
    grid-row: 2/3;
}

#rapids{
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    background-color: #78C5D7;
    grid-row: 4/9;
    grid-column: 1/11;
}

.mountains{
    grid-column: 2/8;
    grid-row: 5/8;
}

.msg{
    background-color: #84714F;
    line-height: 1.5em;
    padding: 25px;

    grid-row: 6/7;
    grid-column: 6/10;
    
}
.msg h2{
    color: #F5DC71;
    font-family: "Bebas Neue", Tahoma, sans-serif;
}
.msg p{
    color: white;
    font-family: "Acme", Verdana, sans-serif;
    font-size: 0.8em;
    text-align: left;
}

footer{
    background-color: #84714F;
    color: #000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
footer p{
    font-size: 1.1em;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color:white;
    text-decoration: none;
    font-family: "Akaya Telivigala", Arial, sans-serif;
    
}
footer a:hover{
    color: #F5DC71;
}

footer .social img{
    width: 50px;
    height: 50px;
    border-radius: 13px;
    margin: 0 10px;
    transition: transform .2s;
    box-sizing: border-box;
}
footer .social img:hover{
    transform: scale(1.05);

}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #F5DC71;
    }
    .home-title {
        font-size: 25px;
    }
    .card{
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}


