body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}
table{
  background-color: #D3D3D3;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  min-height: 300px;
}

tr:nth-child(even){
  background: #001f3f;
}

th, td, label, input{
  border: 3px solid #AAAAAA;
  padding: 4px 2px;

}

td{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  color: #898989;
  color: white;
  width: 33%;
  height: 25%;
}
.loc, .year{
  padding-left: auto;
  padding-right: auto;
  align-self: center;
  width: 16.5%
}

th, label{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: #3F3F3F;
  border-bottom: 2px solid #000000;
}
form #formTitle{
  grid-column: 1/5;
}
form{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  
  border: 3px solid #000;
}
input{
  height: 30px;
}

#submit{
  grid-column: 1/5;
  width: 40%;
  justify-self: center;
  height: 30px;
  margin: 20px;
}