 body {
     display: block;
     background: #E0FBFC;
     overflow-x: hidden;
 }

 header {
    
    width: 90vw;
     padding: 40px 10vw 0; 
    margin-left: -10vw;
    margin-right: -10vw;
    margin-top: -60px;
    justify-self: center;
    
    position: relative;

    height: fit-content;

    background: #343A40;
     background: #E0FBFC;
     background-image: url("../images/sky.png");
     background-size: cover;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
     
     justify-items: center;

    
 }
 
 header img {
     width: 100px;
     height: 100px;
    align-self: center;
    justify-self: center;
 }

 header h1 {
    margin: 0;
     color: #0e2b5a;
     font-size: 54px;
     width: fit-content;
     height: fit-content;
     float: left;
     grid-column: 2/3;
     margin-top: 50px;
     
     grid-row-start: 1;
 }

 nav {
     width: 90vw;
     padding: 0 10vw;
    position: sticky;
    margin-left: -10vw;
    margin-right: -10vw;
    top: 0;
    justify-self: center;

     background-color: #848482;

     height: fit-content;
     text-align: center;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     font-family: Arial, Helvetica, sans-serif;
     border-top: 3px solid #1E5FA4;
     border-bottom: 3px solid #1E5FA4;
     height: 40px;

 }

 nav a {
    height: 100%;
    width: 100%;
    justify-content: center;
     color: #1E5FA4;
     text-decoration: none;
     font-size: 1.5em;
     display: flex;
     align-items: center;
     transition: ease-in-out .2s;
 }
 
 nav a:hover{
    font-size: 1.7em;
 }

 main {
     margin: 25px 2.5%;
     
 }

 #home_grid{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-row-gap: 25px;
     grid-column-gap: 25px;
     height: 725px;
 }
 #home_grid a{

    background: #848482;
    border: 3px solid #1E5FA4; 
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    box-shadow: 5px 5px #343A40;
    transition: ease-in-out .2s;
    text-decoration: none;
    color: #000;
    padding: 2%;
 }


 #home_grid a:hover{
    height: 103%;
    width: 103%;
 }
.grid_box{
    overflow-y: hidden;
}

.grid_box img{
    height: 75px;
    width: 75px;
    aspect-ratio: 1;
    float: left;
    margin-right: 10px;

 }

 .grid_box h2{
    margin: 0 auto;

 }
 .grid_box p{
    margin: 0 10px;
    text-indent: 10px;
 }
 .grid_box p:first-of-type{
    text-indent: 0;
 }

 .Lorem{
    overflow-wrap: break-word;
 }


 #side_col {
     height: 100%;
     grid-column: 4/5;
     grid-row: 1/3;
 }



 #side_col img{
    object-fit: cover;
    object-position: 100% 10%;
    border-radius: 50%;
}

 .col_right{
    grid-column: 4/5;
 }

 .col_rcenter{
    grid-column: 3/4;
 }

 .col_left{
    grid-column: 1/2;
 }

 .col_lcenter{
    grid-column: 2/3;
 }


footer{

    width: 100vw;
    position: relative;
    left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

    border-top: 3px solid #1E5FA4;
    color: #1E5FA4;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    background: #B49A67;
}

footer ul li{
    grid-column: 1/1;
}

footer ul li a{
    color: #1E5FA4;
}

footer p{
    text-align: center;
    bottom: 0px;
}


@media(max-width: 1024px)
{
    header{
    }
    header img{
        height: 50px;
        width: 50px;
        margin-top: 25px;
    }
    header h1{
        font-size: 27px;
        margin-top: 25px;
    }
    nav a{
        font-size: 1em;
    }
    nav a:hover{
        font-size: 1.2em;
    }

    #home_grid{
        height: 375px;
    }

    #home_grid a{
        height: 100%;
    }

    .grid_box img{
        height: 37px;
        width: 37px;
    }

    .grid_box h2{
        font-size: 0.75em;
    }

    .grid_box p{
        font-size: .5em;
    }
}
